<header>
  <div class="logo">
    <a href="/"><img src="/images/logo.png" alt="Travlr Logo" /></a>
  </div>
  <nav>
      <nav>
    <ul>
-     <li><a href="index.html">Home</a></li>
-     <li><a href="travel.html">Travel</a></li>
-     <li><a href="rooms.html">Rooms</a></li>
-     <!-- etc… -->
+     <li><a href="/">Home</a></li>
+     <li><a href="/travel">Travel</a></li>
+     <li><a href="/rooms">Rooms</a></li>
+     <li><a href="/meals">Meals</a></li>
+     <li><a href="/news">News</a></li>
+     <li><a href="/about">About</a></li>
+     <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  </nav>
</header>